#cancha{
  opacity: 0.6;
  &.active{
    opacity: 1;
    .player{
      cursor: move;
    }
  }
  width: 1110px;
  position: relative;
  height: 672px;
  background: url("../images/backgrounds/cancha.png") no-repeat;
  .place{
    position: absolute;
    width: 90px;
    text-align: center;
  }
  .drop-hover{
    background: rgba(255,255,255,0.2);
  }
  .player{
    top: 440px;
    width: 90px;
    padding: 0;
    margin: 10px;
    .star{
      background: url("../images/backgrounds/opciones-alineacion.png") no-repeat;
      height: 20px;
      background-size: 100px;
      padding-left: 21px;
      background-position: -4px -101px;
      position: absolute;
      margin-top: -16px;
    }
    .options{
      background: #d6d6d6;
      height: 20px;
      position: relative;
      display: inline-block;
      padding: 0;
      border-radius: 5px;
      a{
        background: url("../images/backgrounds/opciones-alineacion.png") no-repeat;
        height: 20px;
        padding-left: 21px;
        background-position: -4px -101px;
        display: inline-block;
        &.info{
          background-position: -1px 1px;
        }
        &.drop{
          background-position: -1px -62px;
        }
        &.sell{
          background-position: -1px -20px;
        }
      }
    }
    .image{
      padding: 0;
    }
    .name_points{
      padding: 0;
      border: 2px solid #252525;
      border-radius: 5px;
      color: white;
      @include background-image(linear-gradient(#2d2d2d, #1d1d1b));
      font-family: $font-main;
      text-transform: uppercase;
      font-size: 0.75rem;
      .name{
        padding: 0;
        font-size: 0.7rem;
        font-family: 'Open Sans';
        padding-top: 1px;
        a{
          color: white;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      .points{
        color: $orange;
        padding: 0;
        background: #333;
      }
    }
  }
}
.puntajes{
  .puntos_fecha{
    font-family: $font-digital;
    color: white;
    background: $blueline;
    font-size: 2rem;
    border: 5px solid white;
    height: 88px;
    padding: 25px;
    @include radius(10px);
    line-height: 1.4rem;
    small{
      font-size: 0.7rem;
    }
  }
}
#alineaciones-popup,
#alineaciones-popup2{
  border: 6px solid $blueline2;
  min-height: 213px;
  padding: 0;
  max-width: 400px;
  &::before,
  &::after{
    content: "";
    width: 36px;
    height: 100%;
    position: absolute;
  }
  &::before{
    background: url("../images/backgrounds/popup-left.png") center center;
    left: -42px;
  }
  &::after{
    background: url("../images/backgrounds/popup-right.png") center center;
    right: -42px;
  }
  .col1{
    margin-top: 15px;
  }
  .col2{
    margin-top: 8px;
    padding-left: 0;
    padding-right: 35px;
    .title{
      h2{
        font-size: 1.2rem;
        margin-bottom: 0;
        line-height: 1.2rem;
      }
    }
  }
  .image{

  }
  .team{
    position: absolute;
    bottom: -12px;
    left: -11px;
    .field-name-title{
      display: none;
    }
    a{
      display: block;
    }
  }
  .position{
    font-size: 0.8rem;
    margin-bottom: 10px;
  }
  .close-reveal-modal{
    top: -2px;
    right: 10px;
  }

}