.page-jugar-alineacion{
	overflow-x: hidden;
	.l-content{
		width: 100%;
	}
	h1{
		display: none;
	}
	#block-fichajes-mi-carrito{
		float: right;		
		h2{
			border: 0;
		}	
		@include breakpoint($desktop, true){
			margin-top: 120px;
		}
	}
	#page-wrap {
		margin-top: 90px;
	}
}
.datos-equipo{
	margin-top: 3em;
	@include breakpoint($tablet, true){
		margin-top: 0;
	}
	.escudo{		
		@include breakpoint($tablet, true){
			float: left;
			margin-right: 20px;
			width: 10%;
		}
		img{
			border-radius: 100%;
		}
	}
	.nombre-equipo{		
		color: $white;
		font-family: &fontMain;
		font-size: 1em;
		margin-bottom: 10px;		
		margin-left: 10px;
		text-transform: uppercase;
		width: 60%;
		@include breakpoint($tablet, true){
			color: $black;
			border-bottom: 1px solid $blue;
			font-size: 1.8em;
			margin-left: 120px;
		}
		&+span{
			display: none;
			@include breakpoint($tablet, true){
				display: block;
			}
			a{
				color: $black;
				text-transform: uppercase;
				&:hover{
					text-decoration: none;
				}
			}			
		}
	}
}
#ground,
#suplentes{
	display: none;
	 @include breakpoint($tablet, true){
        display: block;
      }
	.player,
	.suplente{
		.player-info{			
			border: 2px solid #252525;
			border-radius: 5px;
			bottom: -24px;			
			font-size: .7em;
			left: 0;			
			position: absolute;
			text-transform: uppercase;
			.nombre{
				@include bkg-gradient-black;
				color: $white;
				display: inline-block;
				float: left;
				padding: 6px;
			}
			.puntos{				
				background: #333;
				color: $yellow;
				display: inline-block;
				padding: 6px 8px;
			}
		}
		.acciones{
			background: $grey;
			border-radius: 5px;
			bottom: -44px;
			float: left;
			left: -6px;
			padding: 0 5px;
			position: absolute;
			span{
				background: url(../images/alineacion.png) no-repeat -3px 2px;
				display: inline-block;
				height: 20px;
				text-indent: -9999px;
				width: 14px;
			}
			.info-jugador{
				background-position: -3px 2px;
			}
			.vender-jugador{
				background-position: -3px -20px;
			}
			.select-capitan{
				background-position: -3px -40px;
			}
			.alinear-jugador{
				background-position: -6px -80px;
			}
			.sacar-jugador{
				background-position: -4px -62px;
			}
		}
	}
}
.suplencia-titulo{
	display: none;
	@include breakpoint($tablet, true){
		display: block;
	}
	color: $darkgrey;
	float: left;
	font-family: $fontMain;
	font-size: 1.7em;
	margin-left: 2em;
	margin-top: 1.5em;
	margin-right: 1em;
	text-transform: uppercase;
	@include breakpoint($tablet, true){
		margin-left: 0;
		width: 30%;
	}
	@include breakpoint($desktop, true){
		width: 20%;
	}
	@include breakpoint($maxwidth, true){
		width: 15%;
	}
}
#suplentes{
	float: left;
	margin-bottom: 3em;
	margin-top: 1em;
	@include breakpoint($tablet, true){
		width: 90%;
	}
	@include breakpoint($desktop, true){
		width: 55%;
	}
	.suplente{
		float: left;
		margin-right: 1em;
		padding: 0 20px 30px;
		position: relative;
		.player-info{
			bottom: -5px;
			left: 10px;
		}
		.acciones{
			background: none;
			bottom: -28px;
			left: 6px;
		}
	}
}
.guardar-compartir{
	margin-top: 20px;
	display: none;
	@include breakpoint($tablet, true){
		display: block;
		float: left;
		margin-bottom: 1em;
		text-align: center;
		width: 100%;
	}
	@include breakpoint($desktop, true){
		float: none;
	}
	.boton-guardar{
		background: url(../images/bkg-blue.png) no-repeat 0 0;		
		color: $white;	
		display: inline-block;
		font-size: 1.35em;
		height: 50px;
		line-height: 50px;
		padding: 0;
		text-transform: uppercase;
		text-align: center;
		width: 262px;
	}
	span{
		font-size: 16px;
		margin-left: 20px;
		text-transform: uppercase;
	}
}
#alineacion-mobile{
	background: url(../images/bkg-alineacion.jpg) no-repeat 0 0;
	background-size: cover;
	display: block;
	margin-top: -165px;
	padding-top: 165px;
	@include breakpoint($tablet, true){
		display: none;
	}
	.player-mobile{
		margin: 0;
		padding: 0;
		position: relative;
		li{
			display: inline-block;
			list-style: none;
		}
		.posicion-mobile{
			background: rgba(0,0,0,0.5);
			color: $white;
			padding: 20px 10px;
		}
		.camisa-mobile{
			img{
				height: 55px;
				width: 50px;
			}
		}
		.nombre-mobile{
			text-transform: uppercase;
			font-size: 1.2em;
			color: $white;
			padding: 0 20px;
		}
		.puntos-mobile{
			font-size: 1.2em;
			color: $white;
			font-weight: bold;
			position: absolute;
			right: 150px;
			top: 16px;
		}
		.accion-mobile{
			display: inline-block;
			float: right;
			.form-submit{
				background: url(../images/switch.png) no-repeat 0px 0;
				display: block;
				height: 50px;
				text-indent: -9999px;
				width: 100px;
			}
			.inactivo{
				background-position: 0px -85px;
			}
		}
		&:nth-child(2n){
			background: rgba(0,0,0,0.3);
		}
	}
}
.convenciones{
	display: none;
	@include breakpoint($tablet, true){
		display: block;
	}
}
.comentarios-de-aliniacion ol{
	width: 100%;
	@include breakpoint($tablet, true){
		width: 400px;
	}
	@include breakpoint($desktop, true){
		width: 100%;
	}
}
@include breakpoint($mobile, true){
	.l-content{
		.comentarios-de-aliniacion{
			margin-left: 0;
			.alerta-admiracion{
				margin-left: 10px;
			}
			ol{
				margin: 40px 0;
				margin-left: 15px;
			}
		}				
	}	
	#navigation-wrapper{
		#watch-watch{
			background-color: #d6d6d4;
		}
	}		
}
@include breakpoint($tablet, true){
	.page-jugar-alineacion{
		.convenciones{
			display: block;
			margin: 0 auto;
			overflow: hidden;
			padding-left: 0;
			width: 675px;
			li{
				padding-right: 1em;
				width: auto !important;
			}
		}
	}	
}

.puntos-box{
  .puntos-por-fecha{
    div{
      height: 59px;
      top: 7px;
      position: relative;
      line-height: 1.5em;
    }
    span{
      
    }
  }
}