#branding-wrapper{
  background-color: $black;
  display: block;
  float: left;
  width: 100%;
  
  #branding {
    color: $white;
    font-size: 0.7em;
    font-family: $opensans;
    margin: 0 auto;
    width: 100%;
    @include breakpoint($tablet, true) {
      max-width: $maxwidth;
    }
  }
}

.l-region--branding{
  @include grid-span(12,1);
  padding: 0px;
  #block-block-1{
    display: none;
    @include grid-span(6,7);
    @include breakpoint($tablet, true) {
      @include grid-span(2,1);
      display: block;
    }
    padding-left: $gutters;
    img{
      position: absolute;
    }
    p{
      margin: 0;
    }
  }
  #block-block-2{
    padding-left: $gutters;
    @include grid-span(6,1);
    @include breakpoint($tablet, true) {
      @include grid-span(6,4);
    }
     @include breakpoint($desktop, true) {
      @include grid-span(6,3);
    }
    p{
      margin: 8px 0;
    }    
  }
}

#block-block-4{
  padding-left: $gutters;
  @include grid-span(6,1);
  @include breakpoint($tablet, true) {
    @include grid-span(6,3);
  }
  p{
    margin: 8px 0;
  }
}
#block-block-5{
  display: none;
  @include grid-span(6,7);
  @include breakpoint($tablet, true) {
    @include grid-span(2,1);
    display: block;
  }
  padding-left: $gutters;
  img{
    position: absolute;
  }
  p{
    margin: 0;
  }
}

#block-views-usuario-actual-block,
#block-usuarios-bloque-usuario-logueado{
  padding-right: 15px;
  padding-left: 15px;
  font-size: 1.4em;
  position: absolute;
  right: 0;
  top: 50px;
  color: $darkgrey;
  text-align: right;
  @include grid-span(8,5);
  @include breakpoint($tablet, true) {
    font-size: 1em;
    position: relative;
    color: white;
    top: auto;
    right: auto;
    margin-top: 4px;
    @include grid-span(4,9);
    width: auto;
  }
  ul{
    float: right;
    padding: 0;    
    li{
      display: inline-block;
      list-style: none;
      margin-left: 5px;
    }
  }
  .views-field-picture{
    margin-right: 3px;
    img{
      border-radius: 17px;
    }
  }
  .views-field-field-nombres{
    height: 20px;
    overflow: hidden;
    display: inline-block;
    width: 113px;
    @include breakpoint($tablet, true) {
      height: auto;
      overflow: auto;
      width: auto;
      line-height: 1em;
    }
  }
  .views-field-view-user{
    clear: left;
    display: block;
    @include breakpoint($tablet, true) {
      clear: none;
      display: inline;
      margin-left: 10px;
    }
  }
  .menu{
    .first,
    .last{
      a{
        background: url(img/sprite.png) no-repeat 10px 0;
        display: inline-block;
        clear: both;
        height: 60px;
        text-indent: 9999px;
        width: 60px;
        @include breakpoint($tablet, true) {
          background: none;
          display: inline;
          text-indent: 1px;
        }
      }    
    }
    .last{
      a{
        background-position: 0px -61px;
      }    
    }
  }  
}
.logged-in{
  #block-usuarios-bloque-usuario-logueado{
    ul{
      margin: 0;
      @include breakpoint($tablet, true){
        width: auto; 
      }
    }    
    .menu{
      .last{
        a{
          background: none;      
          display: inline;
          width: auto;
        }
      }
      li{
        img{
          border-radius: 100%;
        }
      }
      li:nth-child(2){
        vertical-align: bottom;
        @include breakpoint($tablet, true) {
          vertical-align: initial;
        }
      }
      li:nth-child(3),
      li:nth-child(4){
        margin-left: 50px;
        @include breakpoint($tablet, true) {
          margin-left: 0;
        }
      }
    }
  }
}
body.not-logged-in{
  #block-views-usuario-actual-block{
    margin-top: 14px;
  }
}
