.page-jugar-fichajes-carrito{
	.l-content{
		@include breakpoint($tablet, true){
			width: 66.10169%;
		}
		.l-content{
			width: 100%;
		}
	}
	h1{
		font-family: $fontMain;
		font-size: 1.5em;
		font-weight: normal;
		border-bottom: 1px solid $blue;
		margin-top: 0;
		text-transform: uppercase;
	}
	.message{
		float: left;
		min-height: 70px;
		padding: 0 10px 0 65px;
		position: relative;	
		text-align: center;
		width: 100%;
		@include breakpoint($tablet, true){
			width: 52%;
		}		
		&:before{
			content: '';
			background: url(../images/sprite.png) no-repeat 0px -150px;
			display: inline-block;
			height: 65px;
			left: 0;
			position: absolute;
			vertical-align: middle;
			width: 65px;
		}
	}
	.presupuesto{
		@include bkg-gradient-yellow;
		float: right;
		padding: 8px 5px;
		width: 100%;
		@include breakpoint($tablet, true){
			width: 48%;
		}	
		.fichajes{
			color: $white;
			font-size: 1.85em;
			font-weight: bold;
			float: left;
			padding-left: 40px;
			padding-right: 10px;
			padding-top: 5px;
			position: relative;
			text-align: center;
			width: 30%;
			span{
				display: block;
				font-family: $pftempesta;
				font-size: .3em;
				font-weight: normal;
				text-transform: uppercase;
			}
			&:before{
				content: '';
				background: url(../images/sprite.png) no-repeat 0px -72px;
				display: inline-block;
				height: 42px;
				left: 0px;
				position: absolute;
				top: 5px;
				width: 40px;
			}
			@include breakpoint($tablet, true){
				padding-left: 5px;
				&:before{
					content:'';
					display: none;
				}
			}
			@include breakpoint($desktop, true){
				padding-left: 40px;
				&:before{
					content:'';
					display: block;
				}
			}
		}
		.presupuesto-restante{
			background: $black;
			border-radius: 8px;
			color: $white;
			display: block;
			float: left;
			font-family: $advdigital7;
			font-size: 1.8em;
			height: 58px;
			line-height: 65px;
			padding: 0 5px;
			text-align: center;
			width: 70%;
			@include breakpoint($tablet, true){
				font-size: 1.05em;
			}
			@include breakpoint($desktop, true){
				font-size: 1.45em;
			}
			@include breakpoint($maxwidth, true){
				font-size: 1.8em;
			}
		}
	}
	table{
		border-top: 1px solid $blue;
		display: block;
		float: left;
		margin-top: 1em;
		width: 100%;
		thead{
			display: block;
			width: 100%;
		}
		tr{
			border-bottom: 1px solid $grey;
			display: block;
			float: left;
			padding: 10px 0;
			width: 100%;
		}
		th{
			background: none;
			color: $black;
			display: inline-block;
			float: left;
			font-size: .8em;
			padding: 10px 0;
			text-align: center;
			text-transform: uppercase;
			width: calc(100% / 3);
		}
		.eliminar-jugador{
			.boton-eliminar{
				background: url(../images/sprite.png) no-repeat 0px -220px;
				text-indent: -9999px;
				width: 40px;
				height: 40px;
			}
		}
		tbody{
			display: block;
			float: left;
			width: 100%;
			td{
				display: block;
				float: left;
				text-align: center;
				width: calc(100% / 3);
				&.eliminar-jugador{
					height: 100px;
					line-height: 100px;
				}
				.imagen-jugador{
					float: left;
					margin-right: 10px;
					img{
						border: 1px solid $white;
					}
					@include breakpoint($tablet, true){
						width: 100%;
					}
					@include breakpoint($desktop, true){
						width: auto;
					}
				}
				.nombre-jugador{
					color: $black;
					font-size: .8em;
					font-weight: bold;
					margin: 10px 0 0;
					text-align: left;
					@include breakpoint($tablet, true){
						text-align: center;
					}
					@include breakpoint($desktop, true){
						text-align: left;
					}
				}
				.posicion-jugador{
					color: $darkOrange;
					font-size: .75em;
					font-style: italic;
					margin: 0;
					text-align: left;
					@include breakpoint($tablet, true){
						text-align: center;
					}
					@include breakpoint($desktop, true){
						text-align: left;
					}
				}
				&:last-child{
					color: $blue;
					font-size: .9em;
					font-weight: bold;
					text-align: right;
				}
			}			
		}
		tfoot{
			display: block;
			float: left;
			padding: 10px 0;
			width: 100%;
			td:first-child{
				color: #000;
				font-size: .8em;
				font-weight: bold;
				float: left;
				margin-top: 5px;
				text-align: right;
				text-transform: uppercase;
				width: 65%;
				@include breakpoint($tablet, true){
					width: 70%;  
				}
				@include breakpoint($desktop, true){
					width: 78%;
				}
				@include breakpoint($maxwidth, true){
					width: 82%;
				}

			}
			td:last-child{
				color: $blue;
				float: right;
				font-size: 1.4em;
				font-weight: bold;
			}
		}
	}
	#acciones{
		float: left;
		font-family: $fontMain;
		padding: 10px 8%;
		width: 100%;
		@include breakpoint($tablet, true){
			padding: 10px 6%;
		}
		@include breakpoint($maxwidth, true){
			padding: 10px 100px;
		}
		.boton-continuar{
			background: url(../images/bkg-blue.png) no-repeat 0 0;		
			color: $white;	
			display: inline-block;
			float: left;
			font-size: 1.35em;
			height: 50px;
			line-height: 50px;
			text-transform: uppercase;
			text-align: center;
			width: 262px;
			@include breakpoint($tablet, true){
				background-size: contain;
				height: 38px;
				width: 200px;
			}
			@include breakpoint($desktop, true){
				height: 50px;
				width: 262px;
			}
			&:hover{
				text-decoration: none;
			}
		}
		.boton-comprar{
			background: url(../images/bkg-orange.png) no-repeat 0 0;	
			color: $white;	
			display: inline-block;		
			font-size: 1.35em;
			height: 50px;
			text-align: center;
			text-transform: uppercase;
			width: 262px;
			@include breakpoint($tablet, true){
				background-size: contain;
				float: right;
				height: 38px;
				width: 200px;
			}
			@include breakpoint($desktop, true){
				height: 50px;
				width: 262px;
			}
			&:hover{
				text-decoration: none;
			}
		}
		.message{
			display: none !important;
		}
	}
}
#block-fichajes-mi-carrito {
	margin-bottom: 40px !important;
}
