#block-formblock-user-register{
  padding: 0 15px;
  @include breakpoint($tablet, true) {
    padding: 0;
  }
}
#janrainEngageEmbed{
  .janrainContent{
    margin: 0 auto;
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 100% !important;
    text-align: center;
    border: none !important;
    #janrainAuthReturnExperience{
      position: relative !important;
      margin: 0 auto !important;
      width: 90% !important;
      a#janrain-facebook{
        border: none !important;
      }
    }
  }
}

#block-user-login{
  display: none;
  h2{
    background: none;
    border-bottom:  1px solid $darkwine;
    color: $black;
    font-size: 1.85em;
    height: auto;
    margin-bottom: 4px;
    text-align: left;
    width: 100%;
  }
  .form-item{
    display: inline-block;
    margin: 5px 0px 5px 6px;
    width: 46%;
    label{
      display: none;
    }
    &.form-type-password{
      margin-left: 5px;
    }
  }
  ul{
    font-size: .8em;
    font-style: italic;
    margin: 0;
    margin-bottom: 5px;
    padding-left: 10px;
    li{
      list-style: none;
      &:first-child{
        display: none;
      }
      a{
        color: $darkOrange;
      }
    }
  }
  @include breakpoint($tablet, true) {
    display: block;
  }
}
#block-formblock-user-register{  
  h2{
    background: url("img/big-blocktitle-bg.png") center center no-repeat;
    background-size: contain;    
    border-bottom: 0;   
    color: $white;    
    height: 90px;
    font-size: 1.6em;
    line-height: 90px;
    margin: 0;
    text-align: center;
    width: 100%;
    @include breakpoint($tablet, true){
     font-size: 1.2em;
    }
    @include breakpoint($desktop, true){
     font-size: 1.85em;
    }
  }
  p{
    margin: 10px 0;
    text-align: center;
  }
  form{
    .description{
      display: none;
    }
    label{
      font-size: .8em;
      .form-required{
        color: $darkgrey;
      }
    }
    .form-actions{
      input{
        margin: 50px 0 10px;
        display: block;
        float: left;
        margin-left: 5em;
      }
    }
    #edit-account{ 
      .form-type-textfield,
      .form-type-password{
        position: relative;
        .password-strength,
        div.password-confirm{
          bottom: -92px;
          font-size: .8em;
          position: absolute;
          .password-strength-text{
            font-size: .95em;
          }
        }
        &.confirm-parent{
          div.password-confirm{
            bottom: -38px;
            text-align: right;
            right: 0;
            width: 10em;
          }
        }
      }
      .password-suggestions{
        background: #fff;
        border: 0;
        border-radius: 5px;
        color: #919191;
        margin-top: 68px;
        padding: 15px 10px 10px;
      }  
    }        
    .form-actions{
      margin-top: 30px;
      margin-bottom: 0;
    }
    @include breakpoint($tablet, true){
      label,
      .description{
        display: none;
      }
      .field-type-text,
      .field-type-number-integer{
        float: left;
        margin: 0 5px;
        width: 45%;
      }
      #edit-account{  
        .form-type-password-confirm{
          float: left;
          margin: 0;
        }
        .form-type-textfield,
        .form-type-password{
          float: left;
          margin: 0 5px;          
          width: 45%;
          .password-strength,
          div.password-confirm{
            bottom: -30px;
          }          
        }
      }
    }
  }
}
#block-fboauth-login{
  p{
    font-size: .75em;
    margin: 0 auto 10px;
    text-align: center;
    width: 16em;   
  }
  a{    
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 50%;
  }
  @include breakpoint($tablet, true){
    p{  
      float: left;
      text-align: right;
      width: 90%;
    }
    a{
      float: right;
      margin: 10px;
      width: 90%;
    }
  }
  @include breakpoint($desktop, true){
    p{
      width: 52%;
    }
    a{
      margin: 0;
      width: 46%;
    }
  }
}