// Common abstract classes to extend or parametrics are stored here.

//-----Cargando...------
#throbber {
  border-radius: 50%;
  color: $blueline;
  width: 60px;
  height: 60px;
  position: fixed;
  right: 100px;
  bottom: 100px;
  background: #eee;
  display: none;
  font-size: 2rem;
  text-align: center;
  .fa-spinner{
    margin: 13px 0 0 0px;
  }
}

.alert-box .close,
.alert-box .close-alert {
  font-size: 1.375rem;
  padding: 9px 6px 4px;
  line-height: 0;
  position: absolute;
  top: 50%;
  margin-top: -0.6875rem;
  right: 0.25rem;
  color: #333333;
  opacity: 0.3;
  background: inherit;
}

.btn-blue {
  display: inline-block;
  background: $bluetext;
  color: #fff;
  padding: 4px 8px;

  &:hover {
    color: lighten($bluetext,30%);
  }
}

.destacado{
  color: $highlight-color;
  text-transform: uppercase;
}
.text-orange{
  color: $orange;
  font-style: italic;
  font-size: 0.85rem;
  font-weight: 400;
  margin-top: 15px;
}
.text-blue{
  font-family: $font-main;
  color: $bluetext;
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
}

.text-purple{
  font-family: $font-main;
  color: $highlight-color;
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
}
.text-orange {
  color: $orangetext;
  font-style: italic;
  font-size: 0.85rem;
  font-weight: 600;
}

