// Elements
//
// Things to review before you write code here:
// - Be sure to load after "foundation" import.
// - Also, before adding styles be sure to modify variables in the
//   "base/_common.scss" file. You may not need to write any code.

// Headings
//------------------------------------------
h1, h2, h3,
h4, h5, h6 {
    font-family: $font-main;
}

h1 {

    border-bottom: 1px solid $blueline;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    color: $secondary-color;
    font-size: 1.6rem;
    letter-spacing: -0.5px;
    text-transform: uppercase;

    a {
        color: $secondary-color;

        &:hover{
            color: $secondary-color;
            text-decoration: underline;
        }

    }
}

pre {
    background: #eee;
    border: 1px solid #ddd;
    padding: 10px;
    page-break-inside: avoid;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word
}
// Anchors
//-----------------------------------------------------------------------------
// a {}

// a:focus {}

// a.active,
// a:active,
// a:hover {}

// Form Input
//-----------------------------------------------------------------------------
// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {
// }

// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {

// }

// select {}