// Non-modular or client styles for .l-header region.
.l-header{
  background: #000000;
  color: white;
  text-transform: uppercase;
  p {
    margin: 0;
    font-size: 0.75rem;
  }
  .l-header-region {
    .header {
      padding-left: 25px;
      width: auto;
      &:first-child {
        padding-left: 0;
        width: auto;
      }
    }

  }

}
.featured-wrapper{
  background: white;
  .l-featured{
    height: 125px;
  }
}
