a, a.active{
  color: $orange;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}
img{
  vertical-align: middle;
}

h1, h2, h3{
  color: $black;
}

h2 {
  &.block__title{
    font-family: $fontMain;
    font-weight: normal;
    border-bottom: 1px solid $blue;
    margin-top: 0;
    text-transform: uppercase;
  }
}
.block.fancy{
  h2.block__title{
    color: white;
    background: url("img/blocktitle-bg.png") center center no-repeat;
    width: 290px;
    height: 59px;
    margin: 0 auto;
    text-align: center;
    padding-top: 12px;
    border-bottom: none;
    margin-top: $gutters;
    margin-bottom: $gutters;

  }
}
@mixin bkg-gradient-blue{
  background: #1d619a; /* Old browsers */
  background: -moz-linear-gradient(top,  #1d619a 0%, #1d619a 42%, #164974 51%, #1d619a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1d619a), color-stop(42%,#1d619a), color-stop(51%,#164974), color-stop(100%,#1d619a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1d619a 0%,#1d619a 42%,#164974 51%,#1d619a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1d619a 0%,#1d619a 42%,#164974 51%,#1d619a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1d619a 0%,#1d619a 42%,#164974 51%,#1d619a 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #1d619a 0%,#1d619a 42%,#164974 51%,#1d619a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d619a', endColorstr='#1d619a',GradientType=0 ); /* IE6-9 */
}
@mixin bkg-gradient-yellow{
  background: #eea320; /* Old browsers */
  background: -moz-linear-gradient(top,  #eea320 44%, #b37a18 56%, #eda220 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(44%,#eea320), color-stop(56%,#b37a18), color-stop(100%,#eda220)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #eea320 44%,#b37a18 56%,#eda220 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #eea320 44%,#b37a18 56%,#eda220 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #eea320 44%,#b37a18 56%,#eda220 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #eea320 44%,#b37a18 56%,#eda220 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eea320', endColorstr='#eda220',GradientType=0 ); /* IE6-9 */  
}
@mixin bkg-gradient-black{
  background: #2d2d2d; /* Old browsers */
  background: -moz-linear-gradient(top,  #2d2d2d 0%, #1d1d1b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d2d2d), color-stop(100%,#1d1d1b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #2d2d2d 0%,#1d1d1b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #2d2d2d 0%,#1d1d1b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #2d2d2d 0%,#1d1d1b 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #2d2d2d 0%,#1d1d1b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#1d1d1b',GradientType=0 ); /* IE6-9 */
}