$darkgrey:  #5f6062;
$grey:      #aeaeae;
$orange:    #eea51c;
$darkOrange:#de6d26;
$black:     #000;
$white:     #fff;
$textwine:  #89304e;
$textblue:  #609fdf;
$darkwine:  #712740;
$blue:      #33629a;
$blue2:     #5484b5;
$pagebg:    #d6d6d4;
$yellow:    #fbac35;