#cancha{
  width: 1110px;
  position: relative;
  height: 672px;
  background: url("../images/backgrounds/cancha.png") no-repeat;
  .place{
    position: absolute;
    width: 90px;
    text-align: center;
  }
  .drop-hover{
    background: rgba(255,255,255,0.2);
  }
  .player{
    top: 440px;
    width: 90px;
    padding: 0;
    margin: 10px;
    cursor: move;
    .star{
      background: url("../images/backgrounds/opciones-alineacion.png") no-repeat;
      height: 20px;
      background-size: 100px;
      padding-left: 21px;
      background-position: -4px -101px;
      position: absolute;
      margin-top: -16px;
    }
    .options{
      background: #d6d6d6;
      height: 20px;
      position: relative;
      display: inline-block;
      padding: 0;
      border-radius: 5px;
      a{
        background: url("../images/backgrounds/opciones-alineacion.png") no-repeat;
        height: 20px;
        padding-left: 21px;
        background-position: -4px -101px;
        display: inline-block;
        &.info{
          background-position: -1px 1px;
        }
        &.drop{
          background-position: -1px -62px;
        }
        &.sell{
          background-position: -1px -20px;
        }
      }
    }
    .image{
      padding: 0;
    }
    .name_points{
      padding: 0;
      border: 2px solid #252525;
      border-radius: 5px;
      color: white;
      @include background-image(linear-gradient(#2d2d2d, #1d1d1b));
      font-family: $font-main;
      text-transform: uppercase;
      font-size: 0.75rem;
      .name{
        padding: 0;
        font-size: 0.7rem;
        font-family: 'Open Sans';
        padding-top: 1px;
        a{
          color: white;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      .points{
        color: $orange;
        padding: 0;
        background: #333;
      }
    }
  }
}


