.view{
  .view-content{
    .views-row{
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid $grayline;
    }
  }
  .more-link{
    background: #000;
    border-radius: 7px;
    text-transform: uppercase;
    font-family: $font-main;
    float: right;
    margin-bottom: $space;

    &:hover {
      @include opacity(0.6);
    }

    a {
      display: inline-block;
      color: white;
      padding: 13px 15px 10px 15px;


    }
  }
}
.views-exposed-form{
     border-bottom: 1px solid #33629a;
    margin-bottom: 23px;
  label{
    font-weight: normal;
    color: #aaa;
    font-size: 0.8rem;
  }
  button.form-submit{
    margin-top: 21px !important;
    padding: 10px 15px;
    background: $blueline;
    text-transform: uppercase;
    font-size: 0.8rem;
    color:#fff;
    border-radius: 7px;
  }
  #edit-bef-sort-options{
    background: $gray;
    position: relative;
    text-transform: uppercase;
    height: 37px;
    display: inline-block;
    margin-top: 19px;
    min-width: 120px;
    .fieldset-wrapper{
      margin-top: 30px;
    }
    legend{
      position: absolute;
      background: $gray;
      top: 7px;
    }
    a{
      color: white;
      font-family: $font-sans;
      font-weight: normal;
      font-size: 0.8rem;
    }
  }
}

.view-fichar-jugadores .view-content{
  .views-row{
    margin-bottom: 30px;
    padding: 0 0 30px 0;
    .views-field-field-equipo{
      position: absolute;
      bottom: 31px;
      left: 102px;
      .image{
        display: inline-block;
        margin-right: 5px;
      }
      .field-name-title{
        display: inline-block;
        h5{
          font-size: 0.9rem;
          a{
            color: $gray;
            font-style: italic;
            &:hover{
              text-decoration: underline;
            }
          }
        }

      }
    }
    .views-field-field-image{
      float: left;
      margin-right: 10px;
      border: 6px solid white;
      background: white;
    }
    .views-field-title{
      font-family: $font-main;
      line-height: 1.2rem;
      margin-top: 3px;
      a{
        color: $secondary-color;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .views-field-nothing{
      .basket{
        margin-left: 140px;
      }
    }
  }
  .flexslider{
    height: 360px;
    li{
      height: 329px;
      overflow: hidden;
      .views-field-title{
        position: absolute;
        text-align: center;
        bottom: 40px;
        height: 30px;
        width: 100%;
        padding: 5px;
        background: rgba(0,0,0,0.8);
        font-size: 0.9rem;
        a{
          color: white;
        }
      }
      .views-field-field-posicion{
        position: absolute;
        bottom: 0px;
        height: 40px;
        width: 100%;
        padding: 5px 40px;
        background: rgba(0,0,0,0.8);
      }
      .views-field-field-precio{
        position: absolute;
        bottom: 0px;
        height: 40px;
        padding: 5px;
        right: 5px;
        color: white;

      }
      .views-field-field-equipo{
        position: absolute;
        bottom: 0px;
        height: 40px;
        padding: 5px;
        .image{
          display: inline-block;
          margin-right: 5px;
          vertical-align: middle;
          img{
            height: 30px;
            width: 30px;
          }
        }
        .field-name-title{
          display: none;
        }
      }
    }
    .flex-control-nav{
      bottom: 0px;
      height: 16px;
    }
  }
}
.flex-direction-nav{
  height: 20px;
}
.view-carrito{
  margin-bottom: 20px;
  .views-row{
    padding: 0;
    .views-field-title{
      font-family: $font-main;
      font-size: 13px;
      text-transform: uppercase;
      a{
        color: $secondary-color;
      }
    }
    .views-field-field-image{
      padding: 0;
    }
  }
}

.winer-block {
  background: none repeat scroll 0 0 #000;
  padding: 8px;
  margin: 6px 0 16px;
  .views-row{
    overflow: hidden;
    border: none !important;
    padding: 0 !important;
    .views-field-title{
      padding-bottom: 9px; 
      h3.views-label-title{
        color: #AB682A; 
        font-size: 17px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        margin: 0;
        padding: 8px 0 3px;
      }
      span{
        color: #FFF;
        &.field-content{
          color: #FFF; 
          display: block;
          text-align: center;
          text-transform: uppercase;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
    .views-field-field-total{
      float: left;
      width: 22%;
      margin-left: 28%; 
      margin-right: 3%;
      span{
        color: #FFF;
        &.field-value{
          color: #AB682A; 
          font-size: 23px;
          font-weight: bold;
        }
      }
      .views-align-right{
      color: #609fdf;
      }  
    }
    .views-field-field-link{
      border-left: 1px solid #fff; 
      float: left;
      padding: 9px 0 2px 3%;
      width: 47%; 
      a{
        color: #AB682A; 
        font-weight: bold;
        font-size: 17px;
      }
    }
  }
  .view-footer{
    .mesage-legal{
      display: block;
      width: 100%;
      color: #fff;
      font-size: 10px;
      text-align: center
    }
  }
}
.views-exposed-widgets {
    margin-bottom: 1.5em;
    .views-widget {
    width: 176px;
}
}

.view-resultados{
  .views-field-field-nombres{
    text-transform: uppercase;
    font-size: 0.8em;
  }
  .views-align-right {
    color: #609fdf;
    font-weight: bolder;
}
}
/* Alineaciones de usuarios - Mi cuenta*/

.user-profile{
  h3 {
    color: #336699;
    font-size: 16px;
    text-transform: uppercase;
}
dl dt {
    margin-bottom: 0.3rem;
    float: left;
    margin-right: 10px;
    font-weight: normal;
  }
}

.view-alineacion-usuario{
  .views-row.views-row-1{
    span {
    display: block;
    text-transform: uppercase;
    font-family: "dinmittelschrift";
    color: #336699;
    .views-label {
    text-transform: uppercase;
    font-family: "dinmittelschrift";
    color: #336699;
    }
    }
  .views-field {
    border-bottom: 1px solid #999;
    padding: 15px 0;
      .group-left {
      width: 7%;
      float: left;
      margin-right: 24px;
        .image {
        background-color: #fff;
        border: 3px solid #fff;
        }
      }
      .field-content{
          color: #E28652;
          margin-bottom: 10px;
          font-size: 18px;
      }
      .group-middle{
        li{
          color: #E28652;
          font-style: italic;
          margin-bottom: 10px;
          font-size: 14px;
          list-style: none;
          margin-left: -16px;
          text-transform: capitalize;
        }
      }
    }
  }
}






