.view{
  .view-content{
    .views-row{
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid $grayline;
    }
  }
  .more-link{
    background: #000000;
    text-transform: uppercase;
    font-family: $font-main;
    float: right;
    margin-bottom: $space;
    a{
      display: inline-block;
      color: white;
      padding: 13px 15px 10px 15px;
    }
  }
}
.views-exposed-form{
  label{
    font-weight: normal;
    color: #aaa;
    font-size: 0.8rem;
  }
  button.form-submit{
    margin-top: 21px !important;
    padding: 10px 15px;
    background: $blueline;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
  #edit-bef-sort-options{
    background: $gray;
    position: relative;
    text-transform: uppercase;
    height: 37px;
    display: inline-block;
    margin-top: 19px;
    min-width: 120px;
    .fieldset-wrapper{
      margin-top: 30px;
    }
    legend{
      position: absolute;
      background: $gray;
      top: 7px;
    }
    a{
      color: white;
      font-family: $font-sans;
      font-weight: normal;
      font-size: 0.8rem;
    }
  }
}

.view-fichar-jugadores .view-content{
  .views-row{
    margin-bottom: 30px;
    padding: 0 0 30px 0;
    .views-field-field-equipo{
      position: absolute;
      bottom: 31px;
      left: 102px;
      .image{
        display: inline-block;
        margin-right: 5px;
      }
      .field-name-title{
        display: inline-block;
        h5{
          font-size: 0.9rem;
          a{
            color: $gray;
            font-style: italic;
            &:hover{
              text-decoration: underline;
            }
          }
        }

      }
    }
    .views-field-field-image{
      float: left;
      margin-right: 10px;
      border: 2px solid white;
    }
    .views-field-title{
      font-family: $font-main;
      line-height: 1.2rem;
      margin-top: 3px;
      a{
        color: $secondary-color;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .views-field-nothing{
      .basket{
        margin-left: 140px;
      }
    }
  }
  .flexslider{
    height: 360px;
    li{
      height: 329px;
      overflow: hidden;
      .views-field-title{
        position: absolute;
        text-align: center;
        bottom: 40px;
        height: 30px;
        width: 100%;
        padding: 5px;
        background: rgba(0,0,0,0.8);
        font-size: 0.9rem;
        a{
          color: white;
        }
      }
      .views-field-field-posicion{
        position: absolute;
        bottom: 0px;
        height: 40px;
        width: 100%;
        padding: 5px 40px;
        background: rgba(0,0,0,0.8);
      }
      .views-field-field-precio{
        position: absolute;
        bottom: 0px;
        height: 40px;
        padding: 5px;
        right: 5px;
        color: white;

      }
      .views-field-field-equipo{
        position: absolute;
        bottom: 0px;
        height: 40px;
        padding: 5px;
        .image{
          display: inline-block;
          margin-right: 5px;
          vertical-align: middle;
          img{
            height: 30px;
            width: 30px;
          }
        }
        .field-name-title{
          display: none;
        }
      }
    }
    .flex-control-nav{
      bottom: 0px;
      height: 16px;
    }
  }
}
.flex-direction-nav{
  height: 20px;
}
.view-carrito{
  margin-bottom: 20px;
  .views-row{
    padding: 0;
    .views-field-title{
      font-family: $font-main;
      text-transform: uppercase;
      a{
        color: $secondary-color;
      }
    }
    .views-field-field-image{
      padding: 0;
    }
  }
}
